/* ./public/stylesheets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.shado:hover {
  box-shadow: 0 0 10px black;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(221, 222, 223);
  border-radius: 5px;
}

.scroll-bar::-webkit-scrollbar {
  height: 1.5px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgb(221, 222, 223);
  border-radius: 5px;
}

/* ################ */
.floatEffect{
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.1), -10px -10px 10px white;
  transition: all 0.3s ease; 
  background-color: inherit;
}
.floatEffect:hover{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),-10px -10px 10px white; 
}

.floatNav:hover{  
  box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.1), -5px -5px 10px rgb(249, 249, 249);
  transition: all 0.3s ease; 
  }


.cardanime {
  animation: card 0.8s;
}
@keyframes card {
  from {
    opacity: 0;
    scale: 0.9;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
