/* ./public/stylesheets/tailwind.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.shado:hover {
  box-shadow: 0 0 10px black;
}

.scroll::-webkit-scrollbar {
  width: 2px;
}

body {
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 4px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(221, 222, 223);
  border-radius: 5px;
}

.scroll-bar::-webkit-scrollbar {
  height: 1.5px;
}
.scroll-bar::-webkit-scrollbar-thumb {
  background-color: rgb(221, 222, 223);
  border-radius: 5px;
}

.cardanime {
  animation: card 0.8s;
}
@keyframes card {
  from {
    opacity: 0;
    scale: .9;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
